.Header-quote {
	color: #212026;
	text-align: left;
	font-size: 50px;
	/* Colors the quote to #212026(grey)
	   sets the default position
	   Increases the text size to 50px */

	/* Position coordinates of quote*/
	margin-top: 250px;
	margin-left: 60px;	
	/* end position coordinates */
}

#Description {
	color: #212026;
	font-size: 20px;
	/* Colors the Description(same color as quote)
	   Increases the text size to 20px */

    /* Position coordinates of Description*/
	margin-top: -30px;
	margin-left: 70px;
	margin-bottom: 50px; 
    /* end position coordinates */
}

#Our-Contribution {
	background-color: black;
	color: white;	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	/* Sets the background color to black 
	   colors the text
	   sets the underlining as none and transforms to text to uppercase
	   increases the text size to 15px */

    /* Position coordinates of "How we work" link button */
	padding: 15px;
	padding-right: 70px; 
	margin-top: 10px;
	margin-left: 70px;
	/* end position coordinates */
}

#Donation1 {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid black;
	/* Colors the text to white 
	   underlining of the text is set to none
	   creates a solid border of 1px black
	*/

	/* Position coordinates of "Donate" button link */
	padding: 13px;
	padding-right: 100px;
	margin-left: 30px;
	/* end position coordinates */
}