.Header-quote {
	color: #212026;
	text-align: left;
	font-size: 50px;

	margin-top: 250px;
	margin-left: 60px;	
}

#description {
	color: #212026;
	font-size: 20px;

	margin-top: -30px;
	margin-left: 60px;
	margin-bottom: 50px; 	
}

#Our-Contribution {
	background-color: black;
	color: white;	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;

	padding: 15px;
	padding-right: 70px; 

	margin-top: 10px;
	margin-left: 60px;
}

#Donation1 {
	text-align: left;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid black;

	padding: 13px;
	padding-right: 100px;

	margin-left: 30px;
}

@keyframes quotes-in {
	from{
		margin-left: -1000px;
	}
	to{
		margin-left: 60px;
	}
}
