body {
	font-family: "Arial";
	background-image: url("D:/Programming-section/CSS/skills-section/Save-Fuel,Future Dreams/Images/Factories-burning-coal-background.png");
	background-color: black;
	background-repeat: no-repeat;
	background-size: 1465px;
}

/* Header or Icon Section */
#right-ward {
	margin-left: 1000px;

	text-decoration: underline;
	color: black;
 /* I had to write these lines due to CSS specificity rules */
}

.More-Info-link {
	font-family: "Times-New-Roman";
	margin: 10px;
	color: black;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase; 
}

.Donation {
	font-family: "Times-New-Roman";
	background-color: black;
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;

	padding: 10px;
	border-radius: 20px;
	transition: background-color 30ms linear;
}

.Donation:hover {
	background-color: lightgrey;
}

/* Header or Icon Section end */

